*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

header {
    text-align: center;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: yellow;
    height: 500px;
}

.player,
.cpu {
    display: flex;
    flex-direction: column;
    background-color: pink;
    gap: 10px;
    padding: 20px;
}

.game-screen {
    width: 600px;
    padding: 20px;
    background-color: rgb(196, 255, 196);
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}